@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* body {

    } */
}
@layer components {
  .sidebar-icon {
    @apply relative mx-1 mb-0 flex 
    h-11 w-11 cursor-pointer items-center justify-center rounded-lg 
     bg-inherit text-[#54656f] transition-all 
  duration-150 ease-linear hover:bg-hover-light
    dark:text-[#aaabaf] dark:hover:bg-hover-dark md:my-0
    md:mx-0;
  }

  .sidebar-tooltip {
    @apply absolute bottom-[55px] z-50 m-2 w-auto min-w-max origin-left scale-0
    rounded-md bg-gray-900  p-2 text-xs font-bold text-white
    opacity-0 shadow-md 
    transition-all delay-300 duration-100 dark:bg-black md:bottom-auto md:left-14 md:opacity-100;
  }
  .scrollBar {
    @apply scrollbar-thin
  scrollbar-track-[transparent] scrollbar-thumb-scrollbar-light dark:scrollbar-thumb-scrollbar-dark;
  }
  .text-muted {
    @apply text-muted-light dark:text-muted-dark;
  }
  .bg-hover {
    @apply bg-hover-light dark:bg-hover-dark;
  }
  .bg-cover {
    @apply bg-imgCover-light dark:bg-imgCover-dark;
  }
  .bg-primary {
    @apply bg-light-primary dark:bg-dark-primary;
  }
  .bg-secondary {
    @apply bg-light-secondary dark:bg-dark-secondary;
  }
}
/* target element with overflow */
.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 999px;
}

/* Firefox */
.scrollBar::-moz-scrollbar-thumb {
  border-radius: 999px;
}

/* IE 10+ */
.scrollBar::-ms-scrollbar-thumb {
  border-radius: 999px;
}
/* standard */
.scrollBar::scrollbar-thumb {
  border-radius: 999px;
}

.skeleton {
  background-color: #ccc;
  animation: skeleton-loading 1s ease-in-out infinite;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.ImgParentComp:hover .ImgChildComp {
  background-color: rgba(155, 145, 145, 0.2);
  opacity: 1;
}

.pulse-bg-notUser-dark {
  animation: pulse-bg-notUser-dark 2s ease-in-out 0ms;
}

@keyframes pulse-bg-notUser-dark {
  0% {
    background-color: #101419;
  }
  100% {
    background-color: #252d35;
  }
}

.pulse-bg-notUser-light {
  animation: pulse-bg-notUser-light 2s ease-in-out 0ms;
}

@keyframes pulse-bg-notUser-light {
  0% {
    background-color: #cccccc;
  }
  100% {
    background-color: #ffffff;
  }
}
.pulse-bg-user {
  animation: pulse-bg-user 2s ease-in-out 0ms;
}

@keyframes pulse-bg-user {
  0% {
    background-color: #143b89;
  }
  100% {
    background-color: #3b82f6;
  }
}

.messageDiv:after {
  border-top-left-radius: 0px;
}
